<div class="dt-root">
  <div class="dt-login--container dt-forgot-password">
    <div class="dt-login__content-wrapper">
      <div class="dt-login__content-inner">
        <h2 class="mb-2">Reset Password</h2>
        <p class="mb-5">Enter a new password for your account</p>
        <ng-container *ngIf="!resetForm && loader">
          <i class="icon icon-spin icon-spin2"></i> Processing...
        </ng-container>
        <ng-container *ngIf="resetForm">
          <form [formGroup]="resetForm" (ngSubmit)="checkPwValidity()">
            <div class="form-group">
              <label class="sr-only" for="password-1">New Password</label>
              <input
                type="password"
                formControlName="Password"
                class="form-control"
                id="password-1"
                aria-describedby="password-1"
                placeholder="New Password"
                autocomplete="off"
                placement="bottom"
                [ngbPopover]="newPwRequiredParams"
                [popoverTitle]="pwParamsTitle"
              />
            </div>
            <ng-template #newPwRequiredParams>
              <lnd-required-pw-params
                [enteredPw]="resetForm.get('Password').value"
              ></lnd-required-pw-params>
            </ng-template>
            <ng-template #pwParamsTitle>
              <h4 class="m-0">
                Password should meet the following requirements:
              </h4>
            </ng-template>
            <div class="form-group">
              <label class="sr-only" for="password-2"
                >Retype New Password</label
              >
              <input
                type="password"
                formControlName="ConfirmPassword"
                class="form-control"
                id="password-2"
                aria-describedby="password-2"
                placeholder="Retype New Password"
                autocomplete="off"
                placement="bottom"
                [ngbPopover]="confirmPwRequiredParams"
                [popoverTitle]="pwParamsTitle"
              />
              <ng-template #confirmPwRequiredParams>
                <lnd-required-pw-params
                  [enteredPw]="resetForm.get('ConfirmPassword').value"
                ></lnd-required-pw-params>
              </ng-template>
              <span
                class="text-danger"
                *ngIf="
                  resetForm.get('Password').value !=
                  resetForm.get('ConfirmPassword').value
                "
                >Password does not match!</span
              >
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary orange-bg"
                *ngIf="!loader && !validatingPw"
                [disabled]="
                  resetForm.invalid ||
                  resetForm.get('Password').value !=
                    resetForm.get('ConfirmPassword').value
                "
              >
                Reset
              </button>
              <button
                class="btn btn-sm btn-warning mx-1 text-white"
                disabled
                *ngIf="validatingPw"
              >
                <i class="icon icon-spin icon-spin2"></i> Validating Password...
              </button>
              <button
                type="button"
                class="btn btn-sm btn-warning mx-1 text-white"
                *ngIf="loader"
                [disabled="true"
              >
                <i class="icon icon-spin icon-spin2"></i> Resetting...
              </button>
              <br /><br />
              <a routerLink="/login" routerLinkActive="active">
                <i class="icon-menu-left"></i> Back to Login</a
              >
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</div>
