.main-wrapper {
  padding: 25px 40px;
}

main {
  .subtitle-meta {
    font-size: 16px;
    font-weight: 300;
    color: var(--lenda-grey);
  }

  .subtitle-meta {
    font-weight: 500;
  }

  .border-bottom {
    border-bottom: 1px solid var(--accordion-content-border-color) !important;
  }
}
