.modal {
  h3 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 1em;
  }
  p {
    margin: 0;
    font-size: 12px;
    color: rgba(7, 20, 40, 0.4);
    span {
      display: block;
      font-size: 16px;
      color: #071428;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 22px;
    padding: 1em 1em 3em;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
