<header class="d-flex justify-content-between align-items-center w-100 mb-3">
  <h1 class="mb-0">
    <span>{{ !isEditing ? "Add " : "Edit " }}Payment Received </span>
  </h1>

  <span
    *ngIf="
      !selectedPayment &&
      isLoading &&
      isEditing &&
      !gettingBankAccounts &&
      !gettingAccounts
    "
    [style.color]="currentTheme?.secondaryColor"
    ><span
      >Retrieving Payments ... <i class="icon icon-spin icon-spin2"></i></span
  ></span>

  <a
    class="btn text-white"
    [routerLink]="['/finance/payments-received']"
    routerLinkActive="router-link-active"
    [style.background]="currentTheme?.secondaryColor"
    [style.borderColor]="currentTheme?.secondaryColor"
    href="javascript:void(0)"
    >Back</a
  >
</header>

<div
  *ngIf="
    (selectedPayment &&
      isEditing &&
      !gettingBankAccounts &&
      !gettingAccounts) ||
    (!isEditing && !gettingBankAccounts && !gettingAccounts)
  "
  class="dt-card"
>
  <div class="dt-card__body">
    <form [formGroup]="paymentForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-row form-row-space">
            <div class="col-md-6">
              <label for="customer"
                >Customer <b class="text-danger">*</b></label
              >
              <slct-2
                [data]="customers"
                [customSearchEnabled]="true"
                placeholder="Search Customer"
                formControlName="person"
                [searchService]="getSearchCustomerService()"
                (searchResult)="updateDropdown($event, 'customer')"
              ></slct-2>
            </div>

            <div class="col-md-6">
              <label for="amount">Amount <b class="text-danger">*</b></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{
                    ownerInfo?.currency?.currencySymbol
                  }}</span>
                </div>
                <input
                  type="text"
                  formControlName="paymentAmount"
                  class="form-control"
                  currencyMask
                  [options]="{ prefix: '', thousands: ',', decimal: '.' }"
                />
              </div>
            </div>
          </div>

          <div class="form-row form-row-space">
            <div class="col-md-6">
              <label for="date"
                >Payment Date <b class="text-danger">*</b></label
              >
              <input
              lndInvalidDateChecker
                type="date"
                formControlName="paymentMadeDate"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label for="payment-mode"
                >Payment Mode <b class="text-danger">*</b></label
              >
              <slct-2
                [data]="paymentModes"
                id="payment-mode"
                [customSearchEnabled]="true"
                [placeholder]="'Search Mode'"
                formControlName="paymentMode"
                [searchService]="getPaymentModeService()"
                (searchResult)="updateDropdown($event, 'paymentMode')"
              ></slct-2>
            </div>
          </div>

          <div class="form-row form-row-space">
            <div class="col-md-6">
              <label for="paid-into"
                >Paid Into <b class="text-danger">*</b></label
              >
              <slct-2
                [data]="bankAccounts"
                (selected)="selectAccount($event, 'paidInto')"
                [customSearchEnabled]="true"
                placeholder="Select an account"
                [active]="
                  isEditing && selectedPayment
                    ? [
                        {
                          id: selectedPayment.paidThroughAccountId,
                          text: selectedPayment.paidThroughAccountName
                        }
                      ]
                    : null
                "
              ></slct-2>
            </div>

            <div class="col-md-6">
              <label for="reference">Reference# </label>
              <input
                type="text"
                formControlName="paymentReference"
                class="form-control"
                placeholder="Reference"
              />
            </div>
          </div>
          <div class="form-row form-row-space">
            <div class="col-md-6">
              <label for="taxes">Tax Asset Account </label>

              <account-slct
                [data]="accounts"
                (selectedAccount)="selectAccount($event, 'tax')"
                [preselectedAccount]="
                  isEditing && selectedPayment
                    ? {
                        accountId: selectedPayment?.taxAccountId,
                        name: selectedPayment?.taxAccountName
                      }
                    : null
                "
              ></account-slct>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <lnd-approval-comments
            *ngIf="
              isEditing &&
              selectedPayment?.financePaymentStatusCommentData.length > 0
            "
            [comments]="selectedPayment.financePaymentStatusCommentData"
          ></lnd-approval-comments>
        </div>
      </div>
      <table
        *ngIf="lineItems().length > 0 && !isLoading"
        class="table mt-5 table-bordered table-sm p-3"
      >
        <thead>
          <th>Date</th>
          <th>Invoice#</th>
          <th class="text-right">
            Amount Received ({{ ownerInfo?.currency?.currencySymbol }})
          </th>
          <th class="text-right">
            Amount Due ({{ ownerInfo?.currency?.currencySymbol }})
          </th>
          <th class="text-right">
            Withholding Tax ({{ ownerInfo?.currency?.currencySymbol }})
          </th>
          <th class="text-right">
            Payment ({{ ownerInfo?.currency?.currencySymbol }})
          </th>
        </thead>

        <tbody>
          <ng-container *ngFor="let item of lineItems().controls">
            <tr [formGroup]="item">
              <td>{{ item.value.createdAt | customDatePipe }}</td>
              <td [style.color]="currentTheme?.secondaryColor">
                {{ item.value.invoiceCode }}
              </td>
              <td class="text-right">
                {{ item.value.totalAmount | number : "1.2-2" }}
              </td>
              <td class="text-right">
                {{ item.value.balanceDue | number : "1.2-2" }}
              </td>
              <td class="text-right">
                <input
                  type="text"
                  class="form-control"
                  formControlName="whtAmount"
                  currencyMask
                  [options]="{ prefix: '', thousands: ',', decimal: '.' }"
                />
              </td>

              <td>
                <input
                  type="text"
                  class="form-control"
                  formControlName="paymentAmount"
                  currencyMask
                  [options]="{ prefix: '', thousands: ',', decimal: '.' }"
                />
              </td>
            </tr>
          </ng-container>

          <tr class="lastRow">
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">Total</td>
            <td class="text-right">
              {{ ownerInfo?.currency?.currencySymbol
              }}{{ totalTaxAmountOnLines | number : "1.2-2" }}
            </td>
            <td class="text-right">
              {{ ownerInfo?.currency?.currencySymbol
              }}{{ totalPaymentAmountOnLines | number : "1.2-2" }}
            </td>
          </tr>
        </tbody>
      </table>

      <ng-container>
        <p
          *ngIf="lineItems().length === 0 && isLoading"
          [style.color]="currentTheme?.secondaryColor"
          class="text-center"
        >
          Retrieving Invoices... <i class="icon icon-spin icon-spin2"></i>
        </p>
        <h1
          *ngIf="
            lineItems().length === 0 &&
            !isLoading &&
            paymentForm.get('personId').value
          "
          class="text-center"
        >
          There are no OPEN Invoices for this Customer
        </h1>

        <h1
          *ngIf="
            lineItems().length === 0 &&
            !isLoading &&
            !paymentForm.get('personId').value
          "
          class="text-center"
        >
          Select a Customer to view Invoice(s)
        </h1>
      </ng-container>
      <div class="row mt-6 mb-6">
        <div class="col-md-4 mt-5">
          <div class="shadow-sm p-5 bg-gainsboro rounded">
            <div class="d-flex justify-content-between align-items-center my-3">
              <p>Amount Received:</p>
              <p>
                {{ ownerInfo?.currency?.currencySymbol
                }}{{
                  paymentForm.get("paymentAmount").value | number : "1.2-2"
                }}
              </p>
            </div>

            <div class="d-flex justify-content-between align-items-center my-3">
              <p>Amount Used For Payment:</p>
              <p>
                {{ ownerInfo?.currency?.currencySymbol
                }}{{ totalPaymentAmountOnLines | number : "1.2-2" }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <span
          *ngFor="let file of paymentViewFiles; let fileIndex = index"
          class="badge badge-pill badge-outline mr-2 px-4 mb-1 mb-6 flex-wrap"
          >{{ file.name || file.originalName }}
          <i
            class="icon icon-trash ml-2 cursor text-danger"
            (click)="removeFile(fileIndex)"
          ></i>
        </span>
        <div class="d-flex">
          <small>Attach relevant files </small>
        </div>
        <button
          class="btn btn-xs btn-secondary text-white"
          (click)="files.click()"
        >
          <i class="icon icon-upload"></i>
          {{ !fileDelete ? "Attach File" : "Deleting file..." }}
          <i *ngIf="fileDelete" class="icon icon-spin icon-spin2"></i>
        </button>

        <input
          #files
          type="file"
          multiple
          (change)="handleFileInput($event.target.files)"
          style="display: none"
        />
      </div>
      <div class="row mt-6">
        <div class="col-md-6">
          <label for="notes">Note</label>
          <textarea
            class="form-control"
            formControlName="internalNote"
            placeholder="Note"
          ></textarea>
        </div>
      </div>
    </form>

    <footer class="mt-6">
      <div class="d-flex justify-content-end">
        <button
          [disabled]="paymentForm.invalid || totalPaymentAmountOnLines === 0"
          class="btn btn-xs btn-light mx-1"
          *ngIf="!isLoading"
          (click)="submit('Draft')"
        >
          Save As Draft
        </button>
        <button
          [disabled]="paymentForm.invalid || totalPaymentAmountOnLines === 0"
          class="btn btn-xs btn-primary mx-1"
          *ngIf="!isLoading"
          (click)="submit('SentForApproval')"
        >
          Send For Approval
        </button>
        <button
          [disabled]="paymentForm.invalid || totalPaymentAmountOnLines === 0"
          class="btn btn-xs btn-success mx-1"
          *ngIf="!isLoading"
          (click)="openModal(approval)"
        >
          Post
        </button>
        <button
          class="btn btn-xs btn-warning mx-1"
          disabled
          *ngIf="lineItems().length > 0 && isLoading"
        >
          <i class="icon icon-spin icon-spin2"></i> Processing..
        </button>
      </div>
    </footer>
  </div>
</div>

<ng-template #approval>
  <lnd-trans-pin-modal
    [canApprove]="user?.permission?.includes('Approve Finance Payment')"
    (sendPayload)="submit($event)"
  ></lnd-trans-pin-modal>
</ng-template>
