<div
  class="field-set p-3 mt-4"
  id="accordion"
  *ngFor="let cFSet of customFieldSets.controls; let cFSetIndex = index"
>
  <div class="d-flex justify-content-between" id="accrdHeader">
    <h3 class="m-0">{{ cFSet.get("customFieldSetName").value }}</h3>
    <span
      (click)="onExpandCFSet(cFSetIndex)"
      [ngClass]="selectedCFSetIndex === cFSetIndex ? 'open' : 'close'"
      class="cursor"
      [attr.data-target]="'#accrdContent' + cFSetIndex"
      data-toggle="collapse"
      ><i class="icon icon-chevron-down icon-lg"></i
    ></span>
  </div>
  <div
    [id]="'accrdContent' + cFSetIndex"
    class="collapse"
    aria-labelledby="accrdHeader"
    data-parent="#accordion"
  >
    <div class="row">
      <div
        class="mt-3 col-md-4"
        *ngFor="
          let cF of cFSet.get('customFields').controls;
          let cFIndex = index
        "
      >
        <lnd-request-custom-field
          [customField]="cF"
          [customFieldIndex]="cFIndex"
        ></lnd-request-custom-field>
      </div>
    </div>
  </div>
</div>
