.form-row {
  margin-bottom: 4rem;
}

.dashed {
  border-bottom: 1px dashed gainsboro;
  width: 100%;
  height: 5px;
}

.c-width {
  width: 164px;
}

.remove-btn {
  margin: 5px 4px 5px 12px;
  color: red;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.add-btn {
  border-radius: 16px;
  background-color: #558e80;
  min-width: 120px;
}

.bg-gainsboro {
  background-color: #fbfafa;
}

tr {
  td {
    &:first-child {
      min-width: 230px;
    }
  }
}
