.icon-add-circle {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  font-size: 22px;
}

.icon-add-circle.rotate45deg {
  transform: rotate(45deg);
}

.custom-field-value {
  color: #8692a6;
}

.support-doc-container {
  border: 1px solid #545454;
  border-radius: 4px;
}

.form-margin-top {
  margin-top: 64px;
}
