<div class="p-3">
  <button
    type="button"
    class="close float-right"
    aria-label="Close"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <header class="text-center">
    <h1>Additions</h1>
    <p class="m-0">Post Additions to your assets here</p>
  </header>

  <hr />
  <form [formGroup]="addToAssetForm" (ngSubmit)="onSubmit(null, approval)">
    <ul
      id="active-div"
      class="nav nav-underline flex-row border-bottom nav-card-tabs mt-5"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link show active"
          data-toggle="tab"
          (click)="onSwitchTab(1)"
          href="#assetsTab"
          role="tab"
          aria-controls="tab-pane2"
          aria-selected="true"
          >Assets
          <span class="badge badge-primary">{{ assets.length }}</span></a
        >
      </li>
      <li *ngIf="assetsForAddition.length > 0" class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          (click)="onSwitchTab(2)"
          href="#additionTab"
          role="tab"
          aria-controls="tab-pane2"
          aria-selected="true"
          >Assets For Addition
          <span class="badge badge-warning">{{
            assetsForAddition.length
          }}</span></a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div id="assetsTab" class="tab-pane show active">
        <h1 class="mt-5">Select assets here.</h1>
        <header class="my-4">
          <div class="form-row">
            <div class="col-md-4">
              <label style="display: inline-flex"
                ><span style="padding: 8px 2px; font-size: 12px">Show </span
                ><select
                  [(ngModel)]="pagination.pageSize"
                  [ngModelOptions]="{ standalone: true }"
                  aria-controls="data-table"
                  class="custom-select custom-select-xl form-control form-control-xl height mx-2"
                  (change)="getAssets()"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <span style="padding: 8px 2px; font-size: 12px"
                  >entries</span
                ></label
              >
            </div>

            <div class="col-md-4">
              <app-loader
                *ngIf="loadingAssets"
                message="Loading..."
              ></app-loader>
            </div>

            <div class="col-md-4">
              <label style="display: inline-flex; float: right">
                <input
                  type="search"
                  placeholder="Search..."
                  class="form-control form-control-sm mr-3"
                  placeholder="Asset Tag or Name"
                  aria-controls="data-table"
                  (keydown.enter)="
                    getAssets({
                      pageSize: +pagination.pageSize,
                      pageNumber: 1,
                      searchParam: searchInput.value
                    })
                  "
                  #searchInput
                />

                <button
                  class="btn btn-xs text-white"
                  [style.background]="currentTheme?.secondaryColor"
                  type="button"
                  (click)="
                    getAssets({
                      pageSize: +pagination.pageSize,
                      pageNumber: 1,
                      searchParam: searchInput.value
                    })
                  "
                >
                  <i class="icon icon-search"></i>
                </button>
              </label>
            </div>
          </div>

          <div
            *ngIf="!loadingAssets && haveAssets"
            class="d-flex justify-content-between mt-4"
          >
            <div aria-live="polite">
              Showing
              {{
                (pagination.pageNumber - 1) * pagination.pageSize + 1
                  | number : "1.0-0"
              }}
              -
              {{
                (pagination.pageNumber - 1) * pagination.pageSize +
                  pagination.count | number : "1.0-0"
              }}
              of {{ pagination.totalCount | number : "1.0-0" }} assets(s)
            </div>
          </div>
        </header>

        <table
          *ngIf="haveAssets && !loadingAssets"
          id="data-table"
          class="table table-striped"
        >
          <thead>
            <tr>
              <th></th>
              <th>Asset Tag</th>
              <th>Asset Name</th>
              <th class="text-right">
                Asset Cost ({{ ownerInformation?.currency?.currencySymbol }})
              </th>
              <th class="text-right">
                Total Cost ({{ ownerInformation?.currency?.currencySymbol }})
              </th>
              <th class="text-right">
                Accum Dep ({{ ownerInformation?.currency?.currencySymbol }})
              </th>
              <th class="text-right">
                NBV ({{ ownerInformation?.currency?.currencySymbol }})
              </th>
              <th class="text-right">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets; let i = index">
              <td>
                <i
                  class="icon icon-add-circle icon-fw cursor"
                  [style.color]="currentTheme?.secondaryColor"
                  [style.fontSize]="'1.8rem'"
                  (click)="onAddAssetForAddition(asset, i)"
                ></i>
              </td>
              <td [style.color]="currentTheme?.secondaryColor">
                {{ asset.assetCode }}
              </td>
              <td>{{ asset.assetName }}</td>
              <td class="text-right">
                {{ asset.purchasePrice | number : "1.2-2" }}
              </td>
              <td class="text-right">
                {{ asset?.totalCost | number : "1.2-2" }}
              </td>
              <td class="text-right">
                {{ asset?.totalDepreciation | number : "1.2-2" }}
              </td>
              <td class="text-right">
                {{ asset?.netBookValue | number : "1.2-2" }}
              </td>
              <td class="text-right">
                <span
                  class="badge mb-1 mr-1"
                  [ngClass]="{
                    'badge-light': asset.status === 'InActive',
                    'badge-warning': asset.status == 'Draft',
                    'badge-success': asset.status == 'Running',
                    'badge-info': asset.status == 'Depreciated',
                    'badge-danger': asset.status == 'Disposed'
                  }"
                  >{{ asset.status }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="!haveAssets && !loadingAssets"
          class="d-flex flex-column align-items-center w-100"
        >
          <h1 class="display-4 text-center font-weight-light pt-5">
            {{
              errorOccured
                ? "Couldn't load assets, please try again"
                : "No Assets Available"
            }}
          </h1>
          <button
            *ngIf="errorOccured"
            class="btn btn-sm mb-5"
            [style.background]="currentTheme?.secondaryColor"
            (click)="getAssets()"
          >
            Retry
          </button>
        </div>
      </div>
      <div id="additionTab" class="tab-pane">
        <div *ngIf="assetsForAddition.length > 0" class="form-section">
          <div class="row margb-5">
            <div class="col-md-4">
              <label for="raise-bill"
                >Raise A Bill? <b class="text-danger required">*</b></label
              >
              <slct-2
                [data]="raiseBillOpts"
                id="raise-bill"
                (selected)="onRaiseBill($event)"
                [active]="[raiseBillOpts[1]]"
              ></slct-2>
            </div>
          </div>

          <ng-container *ngIf="raiseBill">
            <div class="row margb-5">
              <div class="col-md-4">
                <label for="vendor"
                  >Vendor <b class="text-danger required">*</b></label
                >
                <slct-2
                  [data]="vendorOpts"
                  id="vendor"
                  (selected)="onSelectVendor($event)"
                  [customSearchEnabled]="true"
                  placeholder="Select Vendor"
                ></slct-2>
              </div>
              <div class="col-md-4">
                <label for="bill-date"
                  >Bill Date (mm/dd/yyyy)
                  <b class="text-danger required">*</b></label
                >
                <input
                lndInvalidDateChecker
                  id="bill-date"
                  type="date"
                  class="form-control"
                  formControlName="billDate"
                />
              </div>
              <div class="col-md-4">
                <label for="payment-terms"
                  >Payment Terms <b class="text-danger required">*</b></label
                >
                <slct-2
                  [data]="paymentTermsOpts"
                  id="payment-terms"
                  (selected)="onSelectPaymentTerms($event)"
                  [customSearchEnabled]="true"
                  placeholder="Select Payment Term"
                  [active]="defaultPaymentTerm"
                ></slct-2>
              </div>
            </div>
            <div class="row margb-5">
              <div class="col-md-4">
                <label for="due-date"
                  >Due Date (mm/dd/yyyy)
                  <b class="text-danger required">*</b></label
                >
                <input
                lndInvalidDateChecker
                  id="due-date"
                  type="date"
                  class="form-control"
                  formControlName="billDueDate"
                />
              </div>
              <div class="col-md-4">
                <label for="res-person">Responsible Person</label>
                <slct-2
                  [data]="resPersonOpts"
                  id="res-person"
                  (selected)="onSelectResPerson($event)"
                  formControlName="responsiblePerson"
                  [customSearchEnabled]="true"
                  placeholder="Select User"
                ></slct-2>
              </div>
              <div class="col-md-4">
                <label for="reference">Reference</label>
                <input
                  id="reference"
                  class="form-control"
                  placeholder="Enter reference"
                  formControlName="reference"
                />
              </div>
            </div>
          </ng-container>
          <!-- NO BILL CONTROLS -->
          <ng-container *ngIf="!raiseBill">
            <div class="row">
              <div class="col-md-4">
                <label for="date"
                  >Transaction Date (mm/dd/yyyy)
                  <b class="text-danger required">*</b></label
                >
                <input
                lndInvalidDateChecker
                  type="date"
                  id="date"
                  class="form-control"
                  formControlName="transactionDate"
                />
              </div>
              <div class="col-md-4">
                <label for="accounts"
                  >Paid through <b class="text-danger">*</b></label
                >
                <slct-2
                  *ngIf="bankAccounts.length > 0"
                  [data]="bankAccounts"
                  (selected)="onSelectPaidThrough($event)"
                  [active]=""
                  placeholder="Select Account"
                ></slct-2>
              </div>
              <div class="col-md-4">
                <label for="reference">Reference</label>
                <input
                  id="reference"
                  class="form-control"
                  formControlName="reference"
                  placeholder="Enter reference"
                />
              </div>
            </div>
          </ng-container>

          <div>
            <input
              #files
              type="file"
              multiple
              (change)="handleFileInput($event.target.files)"
              style="display: none"
            />
            <div class="mx-1 my-3">
              <div class="d-flex flex-wrap">
                <small class="mr-2">Attach relevant files </small>
                <span
                  *ngFor="let file of assetFiles; let i = index"
                  class="badge badge-pill badge-outline mr-2 px-4"
                  >{{ file.name || file.originalName }}
                  <i
                    class="icon icon-trash ml-2 cursor text-danger"
                    (click)="removeFile(i)"
                  ></i>
                </span>
              </div>

              <button
                type="button"
                class="btn btn-xs btn-secondary text-white mt-5"
                (click)="files.click()"
              >
                <i class="icon icon-upload"></i>
                Attach File(s)
              </button>
            </div>
            <div class="form-group">
              <label for="note">Notes (Additional Information)</label>
              <textarea
                type="text"
                class="form-control"
                rows="5"
                placeholder="Additional Information (optional)"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <h1 class="mt-5 mr-3">Selected assets for additions.</h1>
          <i class="icon icon-question-circle mr-2"></i
          ><span
            >Last Posted Depreciation Date :
            {{
              (assets[0]?.lastPostedDepreciationDate | customDatePipe) ||
                "No depreciation yet"
            }}</span
          >
        </div>
        <div *ngIf="haveAssetsForAddition" class="table-responsive">
          <table id="data-table" class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Asset Tag</th>
                <th>Asset Name</th>
                <th>Activation Date</th>
                <th class="text-right">
                  NBV ({{ ownerInformation?.currency?.currencySymbol }})
                </th>
                <th>Description of Addition</th>
                <th class="text-right">
                  Value of Addition ({{
                    ownerInformation?.currency?.currencySymbol
                  }})
                </th>
              </tr>
            </thead>
            <tbody formArrayName="lines">
              <tr *ngFor="let asset of assetsForAddition; let i = index">
                <ng-container [formGroup]="lines.controls[i]">
                  <td>
                    <i
                      class="icon icon-trash icon-fw cursor"
                      [style.fontSize]="'1.8rem'"
                      [style.color]="currentTheme?.secondaryColor"
                      (click)="onRemoveAssetAddition(asset, i)"
                    ></i>
                  </td>
                  <td class="code-td-color">{{ asset.assetCode }}</td>
                  <td>{{ asset.assetName }}</td>
                  <td>{{ asset.assetActivationDate | customDatePipe }}</td>
                  <td class="text-right">
                    {{ asset?.netBookValue | number : "1.2-2" }}
                  </td>
                  <td>
                    <input class="form-control" formControlName="description" />
                  </td>
                  <td class="text-right">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Amount"
                      formControlName="amount"
                      currencyMask
                      [options]="{
                        prefix: '',
                        thousands: ',',
                        decimal: '.'
                      }"
                    />
                  </td>
                </ng-container>
              </tr>

              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">Total:</td>
                <td class="text-right">
                  {{ totalAssetsAmount | number : "1.2-2" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          *ngIf="!haveAssetsForAddition"
          class="d-flex flex-column align-items-center w-100"
        >
          <h1 class="display-4 text-center font-weight-light p-5">
            No Asset(s) Selected Yet
          </h1>
        </div>
      </div>
    </div>

    <section
      *ngIf="haveAssetsForAddition && currentTab === 2"
      class="text-right mb-4"
    >
      <button
        *ngIf="user?.permission?.includes('Post Asset Addition')"
        class="btn btn-xs btn-primary"
        [disabled]="!formIsValid"
      >
        <i *ngIf="adding" class="icon icon-spin icon-spin2 mr-2"></i>
        {{ adding ? "Adding..." : "Post Addition" }}
      </button>
    </section>
  </form>
  <footer
    *ngIf="!loadingAssets && currentTab === 1"
    class="py-3 d-flex justify-content-end"
  >
    <nav>
      <ul class="pagination pagination-sm">
        <li class="page-item" *ngIf="pagination.hasPreviousPage">
          <a
            class="page-link"
            href="javascript:void(0)"
            (click)="
              getAssets({
                pageSize: +pagination.pageSize,
                pageNumber: +pagination.pageNumber + 1,
                searchParam: ''
              })
            "
            tabindex="-1"
            >Previous</a
          >
        </li>
        <li class="page-item pagination-menu-wrapper">
          <a
            class="page-link page-target"
            href="javascript:void(0)"
            (click)="itemPaginatedJumpModal()"
          >
            {{ pagination.pageNumber }} of {{ pagination.totalPages }}
            {{ pagination.totalPages > 1 ? "pages" : "page" }}
            <span class="sr-only">(current)</span>
          </a>
          <div
            class="itemPaginatedJumpModal pagination-menu pagination-menu-right"
          >
            <div class="pagination-menu-body">
              <div class="h-auto">
                <span>Jump to Page</span>
                <select
                  aria-controls="data-table"
                  [(ngModel)]="pagination.pageNumber"
                  class="custom-select custom-select-xl form-control form-control-xl height"
                  (change)="
                    getAssets({
                      pageSize: +pagination.pageSize,
                      pageNumber: +pagination.pageNumber,
                      searchParam: ''
                    })
                  "
                >
                  <option
                    *ngFor="let line of pagination.jumpArray"
                    (click)="pagination.pageNumber = line"
                  >
                    {{ line }}
                  </option>
                </select>
                <div class="text-center mt-3">
                  <button
                    type="button"
                    (click)="itemPaginatedJumpModal()"
                    class="btn btn-danger btn-xs"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="page-item" *ngIf="pagination.hasNextPage">
          <a
            class="page-link"
            href="javascript:void(0)"
            (click)="
              getAssets({
                pageSize: +pagination.pageSize,
                pageNumber: +pagination.pageNumber + 1,
                searchParam: ''
              })
            "
          >
            Next
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</div>

<ng-template #approval>
  <lnd-trans-pin-modal
    [canApprove]="user?.permission?.includes('Post Asset Addition')"
    (sendPayload)="onSubmit($event)"
  ></lnd-trans-pin-modal>
</ng-template>
