#investor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 1rem;

  p{
    margin: 0;
  }
}

#searchInvestor{
  &:focus{
    outline: none;
    border: none;
  }
}
