app-sidebar {
    width: 240px;
}

@media screen and (max-width: 991px) {
    app-sidebar {
        width: auto;
    }
}

.dt-content-wrapper {
    margin-top: 74px;
  }

.ui-select-choices {
    display: block;
}


.filter-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 6000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .5rem 1.5rem 0;
  font-size: 1.4rem;
  color: #545454;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid transparent;
  border-radius: .4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175)
}

.filter-menu-right {
  right: 150px;
  left: auto;
  top: -50px;
}

.filter-menu {
  width: 500px !important;
}

.filter-menu-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1.2rem 1.8rem
}

.filter-menu-header {
  box-shadow: 0 2px 2px 0 rgba(84, 84, 84, 0.05)
}

.filter-menu-header .title {
  font-size: 15px;
  margin-bottom: 0
}

.filter-menu-body {
  padding: 1.5rem 1.8rem
}

.filter-menu-footer {
  box-shadow: 0 -2px 2px 0 rgba(84, 84, 84, 0.05);
  justify-content: flex-end;
}

.filter-menu-header, .filter-menu-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1.5rem 1.8rem
}

.close-btn {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

.icon-close {
  font-size: 34px;
}

.search-btn {
  margin-top: 23px;
  border-radius: 6px;
}

.sub-tabs{
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  button{
    border: 1px solid cadetblue;
    border-radius: 40px;
    color: #000;
    &.active-sub-tab{
      background-color: cadetblue !important;
      border: none !important;
      color: #fff;
    }
  }
}
