.form-row-space {
  margin-bottom: 3rem;
}

.dashed {
  border-bottom: 1px dashed #dcdcdc;
}

.remove-btn {
  margin: 5px 4px 5px 12px;
  color: var(--red);
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}
