.heading-text {
  color: var(--lenda-orange);
  font-weight: 500;
}

.close-modal-btn {
  border: 1px solid var(--lenda-orange);
  background: none;
  color: var(--lenda-orange);
  width: 100%;
  font-weight: 500;
}
