<section class="p-5">
  <header class="d-flex justify-content-end mb-3">
    <button type="button" class="close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <div class="d-flex justify-content-center">
    <img src="assets/images/warning-red.png" alt="Warning" />
  </div>
  <div class="text-center">
    <h3 class="heading-text mt-5 mb-2">Multi-level loan Selected</h3>
    <p>
      Loans with multi-level approvals need to be reassigned separately from
      single approval loans. Please change your selection and try again
    </p>
  </div>
  <div class="mt-5">
    <button (click)="onClose()" class="btn close-modal-btn">Close</button>
  </div>
</section>
