<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title clearfix">Review Payment Details</h1>
</div>
<!-- /page header -->

<div class="row">
  <div class="col-xl-12">
    <div class="tab-content">
      <!-- Tab Pane -->
      <div id="tab-created" class="tab-pane active show">
        <!-- Card -->
        <div class="dt-card">
          <!-- Card Body -->
          <div class="dt-card__body">
            <div class="payment-review">
              <button class="btn btn-light mb-4">Edit Details</button>
              <div class="row mt-3">
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Payment Type</h5>
                  <p>Payment Order</p>
                </div>
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Payment To</h5>
                  <p>Staff payment</p>
                </div>
              </div>
              <hr />
              <div class="row mt-3">
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Staff Selected</h5>
                  <p>Staff ABC</p>
                </div>
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Transaction Type</h5>
                  <p>ABC</p>
                </div>
              </div>
              <hr />
              <div class="row mt-3">
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Payment Pattern</h5>
                  <p>Full Payment</p>
                </div>
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Amount</h5>
                  <p>10,000</p>
                </div>
              </div>
              <hr />
              <div class="row mt-3">
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Breakdown format</h5>
                  <p>2 payments</p>
                </div>
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Currency</h5>
                  <p>Naira</p>
                </div>
              </div>
              <hr />
              <div class="row mt-3">
                <div class="col-md-6">
                  <h5 class="font-weight-bold">Originating Department</h5>
                  <p>Design Department</p>
                </div>
              </div>
              <hr />
              <div class="row mt-3">
                <div class="col-md-12">
                  <h5 class="font-weight-bold">Payment Description</h5>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-around">
                <button class="btn btn-primary mr-2 text-white">Approve</button>
                <button class="btn btn-danger">Reject</button>
              </div>
            </div>
          </div>
          <!-- /card body -->
        </div>
        <!-- /card -->
      </div>
    </div>
  </div>
</div>
