<div class="filter-menu filter-menu-right">
  <div class="filter-menu-header">
    <h4 class="title">
      <i class="mr-2 icon icon-ckeditor"></i>{{ btnText ? btnText : "Filter" }}
    </h4>
  </div>
  <div class="filter-menu-body">
    <div class="h-auto">
      <div class="form-row">
        <br />
        <div class="mb-3 col-sm-12">
          <div>
            <slct-2
              [data]="filterOptions"
              [multiple]="false"
              [placeholder]="placeholder"
              (selected)="selectFilterOption($event)"
              (removed)="selectFilterOption(null)"
              [hideSelectedItems]="true"
            >
            </slct-2>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-menu-footer">
      <div class="footer-right">
        <button
          type="button"
          (click)="filter()"
          class="mr-2 btn btn-xs text-white"
          [style.backgroundColor]="currentTheme?.secondaryColor"
          [style.borderColor]="currentTheme?.secondaryColor"
        >
          Filter
        </button>

        <button
          type="button"
          (click)="closeFilterModal()"
          class="btn btn-danger btn-xs"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
