.subheading {
  border-bottom: 1px solid var(--accordion-content-border-color);
  font-weight: 500;
}

.b-list-item h6 {
  color: var(--lenda-grey);
  margin-bottom: 8px;
}

.b-list-item p {
  font-size: 14px;
  font-weight: 400;
}

.img-container {
  max-width: 100px;
}
