.btn-outline-lenda {
  border: 1px solid var(--lenda-blue);
}

.sample-text {
  color: var(--lenda-blue);
}

.btn-lenda {
  background: var(--lenda-blue);
}

.btn-lenda:hover {
  background: var(--lenda-blue-hover)
}
