<!-- Loader -->
<!-- <div class="dt-loader-container">
  <div class="dt-loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
    </svg>
  </div>
</div> -->
<!-- /loader -->
<!-- Root -->
<div class="dt-root">

    <!-- Login Container -->
    <div class="dt-login--container dt-forgot-password">

        <!-- Login Content -->
        <div class="dt-login__content-wrapper">

          <!-- Login Content Inner -->
          <div class="dt-login__content-inner">

            <!-- Brand logo -->
            <!-- <span class="dt-login__logo">
                <a class="dt-brand__logo-link" href="index-2.html">
                  <img class="dt-brand__logo-img" src="assets/images/logo.png" alt="Logo">
                </a>
              </span> -->
            <!-- /brand logo -->

            <h2 class="mb-2">Forgot Your Password ?</h2>
            <p class="mb-5"><small>Don't worry. Recovering the password is easy. Just tell us the email you have registered with.</small></p>

              <!-- Form -->
              <form [formGroup]="password" (ngSubmit)="passwordSubmit(password.value)" action="">

                <!-- Form Group -->
                <div class="form-group">
                  <label class="sr-only" for="email-1">Email address</label>
                  <input type="email" formControlName="EmailAddress" class="form-control" id="email-1" aria-describedby="email-1" placeholder="Enter email"/>
                  <span class="text-danger">{{errorMessage}}</span>
                </div>
                <!-- /form group -->

                <!-- Form Group -->
                <div class="form-group">
                  <button type="submit" class="btn btn-primary text-uppercase orange-bg" *ngIf="!loader" [disabled]="password.invalid">Send</button>
                  <button type="button" class="btn btn-primary text-uppercase orange-bg" *ngIf="loader" [disabled]="true">
                    <i class="icon icon-spin icon-spin2"></i> Processing...
                  </button>
                  <br/><br/>
                  <a  [routerLink]="['/account/login/', businessKey]" routerLinkActive="active">  Back to Login</a>
                </div>
                <!-- /form group -->

              </form>
              <!-- /form -->
          </div>
          <!-- /login content inner -->

        </div>
        <!-- /login content -->

    </div>
    <!-- /login container -->

</div>
  <!-- /root -->


