<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title clearfix">
    Cash Advance
    <span class="float-right role-add">
      <button
        type="button"
        class="btn text-white"
        [style.background]="currentTheme?.secondaryColor"
        [style.borderColor]="currentTheme?.secondaryColor"
        [routerLink]="['/finance/cash-advance/create']"
        routerLinkActive="active"
      >
        <i class="icon icon-add-circle mr-2"></i> Add New
      </button>
    </span>
  </h1>
</div>
<!-- /page header -->

<div class="row">
  <div class="col-xl-12">
    <div class="tab-content">
      <!-- Tab Pane -->
      <div id="tab-created" class="tab-pane active show">
        <ul
          id="active-div"
          class="card-header-pills nav nav-pill justify-content-center"
          role="tablist"
        >
          <li class="nav-item">
            <a
              class="nav-link pool-nav"
              [ngClass]="{ 'active-tab': currentview == 1 }"
              href="javascript:void(0)"
              (click)="switchViews(1)"
            >
              Open
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link pool-nav"
              [ngClass]="{ 'active-tab': currentview == 4 }"
              href="javascript:void(0)"
              (click)="switchViews(4)"
            >
              Closed
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link pool-nav"
              [ngClass]="{ 'active-tab': currentview == 0 }"
              href="javascript:void(0)"
              (click)="switchViews(0)"
            >
              All
            </a>
          </li>
        </ul>
        <!-- Card -->
        <div class="dt-card">
          <!-- Card Body -->
          <div class="dt-card__body">
            <!-- Tables -->
            <div class="table-responsive">
              <!-- Pagination Top-->
              <div class="d-flex justify-content-between m-0">
                <div>
                  <label style="display: inline-flex"
                    ><span style="padding: 8px 2px; font-size: 12px">Show </span
                    ><select
                      [(ngModel)]="pagination.pageSize"
                      aria-controls="data-table"
                      (change)="loadAllCashAdvances()"
                      class="custom-select custom-select-xl form-control form-control-xl height"
                    >
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    <span style="padding: 8px 2px; font-size: 12px"
                      >entries</span
                    ></label
                  >
                </div>
                <div>
                  <ng-container *ngIf="tabLoader">
                    <div
                      class="table-loader"
                      style="text-align: center; color: indianred"
                    >
                      <span>
                        <i class="icon icon-spin icon-spin2"></i>
                        Loading...</span
                      >
                    </div>
                  </ng-container>
                </div>
                <div>
                  <label style="display: inline-flex; float: right">
                    <input
                      type="search"
                      placeholder="Search..."
                      class="form-control form-control-sm mr-3"
                      placeholder="Enter code or name"
                      aria-controls="data-table"
                      [(ngModel)]="searchParam"
                      (keydown.enter)="loadAllCashAdvances()"
                    />

                    <button
                      class="btn btn-xs text-white"
                      [style.background]="currentTheme.secondaryColor"
                      (click)="loadAllCashAdvances()"
                    >
                      <i class="icon icon-search"></i>
                    </button>
                  </label>
                </div>
              </div>
              <div class="my-2">
                <lnd-selected-filters
                  (initialized)="onSelectedFiltersInit($event)"
                ></lnd-selected-filters>
              </div>
              <div class="d-flex justify-content-between my-5">
                <div aria-live="polite" style="font-size: 13px">
                  Showing
                  {{
                    (pagination.pageNumber - 1) * pagination.pageSize + 1
                      | number : "1.0-0"
                  }}
                  -
                  {{
                    (pagination.pageNumber - 1) * pagination.pageSize +
                      pagination.count | number : "1.0-0"
                  }}
                  of {{ pagination.totalCount | number : "1.0-0" }} record(s)
                </div>
                <div *ngIf="currentview === 0 && !tabLoader">
                  <lnd-filter-btn (filterModalOpen)="filterModalOpen()"></lnd-filter-btn>
                  <lnd-filter
                    [filterOptions]="filterStatuses"
                    (optionSelected)="loadAllCashAdvances($event.text)"
                  >
                  </lnd-filter>
                </div>
              </div>
              <!-- /pagination Top -->
              <table
                id="data-table"
                class="table table-striped table-hover"
                *ngIf="!tabLoader"
              >
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Beneficiary Name</th>
                    <th>Created Date</th>
                    <th class="text-right">
                      Amount ({{ ownerInformation?.currency?.currencySymbol }})
                    </th>
                    <th>
                      ECAR Date
                      <span
                        ><i
                          class="icon icon-question-circle icon-fw icon-xl"
                          placement="top"
                          ngbTooltip="Expected Cash Advance Receipt Date"
                        ></i
                      ></span>
                    </th>
                    <th>Transaction Date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="!tabLoader">
                    <ng-container *ngIf="allCashAdvance?.length > 0">
                      <tr
                        class="gradeX cursor"
                        *ngFor="let item of allCashAdvance"
                        (click)="
                          viewCashAdvance(item?.id, true, dropdownToggle)
                        "
                      >
                        <td class="copy_icon_wrapper" [style.color]="currentTheme?.secondaryColor">
                          {{ item?.code }}

                          <img
                            (mouseover)="copy_hover = true"
                            (mouseleave)="copy_hover = false"
                            class="copy_icon"
                            src="assets/images/copy.png"
                            alt="copy icon"
                            width="15"
                            height="15"
                            (click)="copyCode(item?.code)"
                            placement="right"
                            ngbTooltip="Copy Cash Advance Code"
                          />
                        </td>
                        <td>{{ item?.beneficiary }}</td>
                        <td>
                          {{ item?.createdAt | date : "mediumDate" }}
                        </td>
                        <td class="text-right">
                          {{ item?.amount | number : "1.2-2" }}
                        </td>
                        <td>
                          {{
                            item?.expectedCashAdvanceReceiptDate
                              | date : "mediumDate"
                          }}
                        </td>
                        <td>
                          {{ item?.transactionDate | date : "mediumDate" }}
                        </td>
                        <td>
                          <span
                            class="badge mb-1 mr-1"
                            [ngClass]="{
                              'badge-success': item?.status === 'Reconciled',
                              'badge-redraft': item?.status === 'Redrafted',
                              'badge-primary': item?.status === 'PendingReview',
                              'badge-danger': item?.status === 'Declined',
                              'badge-approval':
                                item?.status === 'AwaitingReconciliation'
                            }"
                            >{{ item?.status | humanify }}</span
                          >
                        </td>

                        <td>
                          <div
                            #dropdownToggle
                            class="dropdown mr-2 mb-2 d-inline-block"
                          >
                            <button
                              class="btn btn-warning btn-xs dropdown-toggle"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            ></button>

                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0)"
                                ><i class="icon icon-forward icon-fw mr-2"></i
                                >View</a
                              >
                              <a
                                *ngIf="item?.status === 'Redrafted'"
                                class="dropdown-item"
                                [routerLink]="[
                                  '/finance/cash-advance/edit',
                                  item?.id
                                ]"
                                ><i class="icon icon-edit icon-fw mr-2"></i
                                >Edit</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-container *ngIf="allAssets?.length === 0">
                      <tr>
                        <td colspan="8" class="text-center">
                          No record found
                          <span *ngIf="searchTerm != ''"
                            >that matches your search</span
                          >
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
              <nav>
                <ul class="pagination pagination-sm justify-content-end">
                  <li class="page-item pagination-menu-wrapper">
                    <a
                      class="page-link page-target"
                      (click)="getItemsPaginatedPageJumpModal()"
                      href="javascript:void(0)"
                      >{{ pagination.pageNumber }} of
                      {{ pagination.maxPage }} page<span
                        *ngIf="pagination.maxPage > 1"
                        >s</span
                      ><span class="sr-only">(current)</span></a
                    >
                    <div class="pagination-menu pagination-menu-right">
                      <div class="pagination-menu-body">
                        <div class="h-auto">
                          <span>Jump to Page</span>
                          <select
                            aria-controls="data-table"
                            [(ngModel)]="pagination.pageNumber"
                            (change)="changePage($event.target.value)"
                            class="custom-select custom-select-xl form-control form-control-xl height"
                          >
                            <option value="">Page</option>
                            <option
                              *ngFor="
                                let items of pagination.jumpArray;
                                let i = index
                              "
                              value="{{ items }}"
                            >
                              {{ i + 1 }}
                            </option>
                          </select>
                          <div class="text-center mt-3">
                            <button
                              type="button"
                              (click)="getItemsPaginatedPageJumpModal()"
                              class="btn btn-danger btn-xs"
                            >
                              Close
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- /tables -->
          </div>
          <!-- /card body -->
        </div>
        <!-- /card -->
      </div>
    </div>
  </div>
</div>

<!-- Customizer Sidebar -->
<aside
  style="display: block"
  class="dt-customizer dt-drawer position-right open"
  *ngIf="openAside"
>
  <div class="dt-customizer__inner">
    <!-- Customizer Header -->
    <div class="dt-customizer__header">
      <!-- Avatar Wrapper -->
      <div class="dt-avatar-wrapper">
        <!-- Avatar -->
        <img
          class="dt-avatar dt-avatar__shadow size-50 mr-sm-4"
          src="assets/images/male-default-profile.png"
        />
        <!-- /avatar -->

        <!-- Info -->
        <div class="dt-avatar-info">
          <span class="dt-avatar-name display-5 mb-2 font-weight-light black"
            >Cash Advance for {{ cashAdvanceInformation?.beneficiary }}
            &nbsp;
            <span
              class="badge mb-1 mr-1"
              [ngClass]="{
                'badge-success':
                  cashAdvanceInformation?.status === 'Reconciled',
                'badge-primary':
                  cashAdvanceInformation?.status === 'PendingReview' ||
                  cashAdvanceInformation?.status === 'Redrafted',
                'badge-danger': cashAdvanceInformation?.status === 'Declined',
                'badge-approval':
                  cashAdvanceInformation?.status === 'AwaitingReconciliation'
              }"
            >
              <i class="icon icon-folder-o"></i>
              {{ cashAdvanceInformation?.status | humanify }}
            </span>
          </span>
          <span class="f-12"
            ><span style="color: #1e5a8a">{{
              cashAdvanceInformation?.code
            }}</span> </span
          ><br />
        </div>
        <!-- /info -->
      </div>
      <!-- /avatar wrapper -->

      <!-- Close Button -->
      <button type="button" class="close" (click)="toggleAside()">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- /close button -->
    </div>
    <!-- /customizer header -->
    <!-- Customizer Body -->
    <div class="dt-customizer__body ps-custom-scrollbar">
      <div class="row">
        <div class="col-md-12" style="padding: 20px">
          <!-- List -->
          <ul class="dt-list dt-list-one-second padded-left">
            <!-- List Item -->
            <li class="dt-list__item">
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-revenue-new icon-3x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1">Amount</span>
                  <h5 class="mb-0">
                    <b>{{ cashAdvanceInformation?.amount | currency : currencySymbol }}</b>
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->

            <!-- List Item -->
            <li class="dt-list__item">
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-user-o icon-3x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >Created by</span
                  >
                  <h5 class="mb-0">
                    {{ cashAdvanceInformation?.treatedBy }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->
            <!-- List Item -->
            <li
              class="dt-list__item"
              *ngIf="
                cashAdvanceInformation?.status === 'AwaitingReconciliation'
              "
            >
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-user-o icon-3x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >Remaining Balance</span
                  >
                  <h5 class="mb-0">
                    {{currencySymbol}}{{ remainingBalance | number : "1.2-2" }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->

            <!-- List Item -->
            <li
              class="dt-list__item"
              *ngIf="cashAdvanceInformation?.approvedBy != null"
            >
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-user-o icon-3x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >Approved by</span
                  >
                  <h5 class="mb-0">
                    {{ cashAdvanceInformation?.approvedBy?.displayName }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->

            <!-- List Item -->
            <li class="dt-list__item">
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-datepicker icon-2x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >ECAR Date
                    <span
                      ><i
                        class="icon icon-question-circle icon-fw icon-xl"
                        placement="left"
                        ngbTooltip="Expected Cash Advance Receipt Date"
                      ></i
                    ></span>
                  </span>
                  <h5 class="mb-0">
                    {{
                      cashAdvanceInformation?.expectedCashAdvanceReceiptDate
                        | date : "dd-MM-yyyy"
                    }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->
            <!-- List Item -->
            <li
              class="dt-list__item"
              *ngIf="cashAdvanceInformation?.status === 'Reconciled'"
            >
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-datepicker icon-2x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >ACAR Date
                    <span
                      ><i
                        class="icon icon-question-circle icon-fw icon-xl"
                        placement="left"
                        ngbTooltip="Actual Cash Advance Receipt Date"
                      ></i
                    ></span>
                  </span>
                  <h5 class="mb-0">
                    {{
                      cashAdvanceInformation?.actualCashAdvanceReceiptDate
                        | date : "dd-MM-yyyy"
                    }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->

            <!-- List Item -->
            <li class="dt-list__item">
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-user-o icon-3x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >Staff Account</span
                  >
                  <h5 class="mb-0">
                    {{ cashAdvanceInformation?.staffAccount }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->

            <!-- List Item -->
            <li class="dt-list__item">
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-revenue-new icon-3x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >Account paid through</span
                  >
                  <h5 class="mb-0">
                    {{ cashAdvanceInformation?.paidThroughAccount }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->

            <!-- List Item -->
            <li class="dt-list__item">
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-user-o icon-3x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >Beneficiary staff</span
                  >
                  <h5 class="mb-0">
                    {{ cashAdvanceInformation?.beneficiary }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->

            <!-- List Item -->
            <li class="dt-list__item">
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-datepicker icon-2x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1">Created</span>
                  <h5 class="mb-0">
                    {{
                      cashAdvanceInformation?.createdAt | date : "dd-MM-yyyy"
                    }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->
            <!-- List Item -->
            <li
              class="dt-list__item"
              *ngIf="cashAdvanceInformation?.status === 'Reconciled'"
            >
              <!-- Media -->
              <div class="media">
                <i
                  class="icon icon-datepicker icon-2x mr-5 align-self-center text-warning"
                ></i>

                <!-- Media Body -->
                <div class="media-body">
                  <span class="d-block text-light-gray f-12 mb-1"
                    >Reconciliation Date</span
                  >
                  <h5 class="mb-0">
                    {{
                      cashAdvanceInformation?.reconciliationDate
                        | date : "dd-MM-yyyy"
                    }}
                  </h5>
                </div>
                <!-- /media body -->
              </div>
              <!-- /media -->
            </li>
            <!-- /list item -->
          </ul>
          <!-- /list -->
        </div>
      </div>
      <!-- Customizer Body Inner  -->
      <div class="">
        <div
          class="text-center mb-3"
          *ngIf="cashAdvanceInformation?.status === 'AwaitingReconciliation'"
        >
          <button
            class="btn btn-xs btn-info mr-4"
            (click)="openModal(reconciliationLogModal)"
            *ngIf="remainingBalance > 0"
          >
            Log Reconciliation
          </button>

          <button
            class="btn btn-xs btn-success"
            (click)="reconcileCashAdvance()"
            [disabled]="loader"
            *ngIf="remainingBalance <= 0"
          >
            <span>
              <i *ngIf="loader" class="icon icon-spin icon-spin2"></i>
              {{ loader ? "Reconciling..." : "Reconcile" }}
            </span>
          </button>
        </div>
        <br />
        <!-- Section -->
        <div class="dt-card__body">
          <ul
            class="nav nav-underline flex-row border-bottom nav-card-tabs"
            role="tablist"
          >
            <li
              *ngIf="
                cashAdvanceInformation?.status === 'AwaitingReconciliation' ||
                cashAdvanceInformation?.status === 'Reconciled'
              "
              class="nav-item"
            >
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#paymentInfoTab"
                role="tab"
                aria-controls="tab-pane2"
                aria-selected="true"
                >Reconciliation Log</a
              >
            </li>
            <li class="nav-item">
              <a
                [ngClass]="
                  cashAdvanceInformation?.status === 'AwaitingReconciliation' ||
                  cashAdvanceInformation?.status === 'Reconciled'
                    ? ''
                    : 'active'
                "
                class="nav-link"
                data-toggle="tab"
                href="#commentsAndActivitiesTab"
                role="tab"
                aria-controls="tab-pane3"
                aria-selected="true"
                >Comments</a
              >
            </li>
            <li
              class="nav-item"
              *ngIf="cashAdvanceInformation?.status === 'PendingReview'"
            >
              <a
                class="nav-link"
                data-toggle="tab"
                href="#approvalTab"
                role="tab"
                aria-controls="tab-pane3"
                aria-selected="true"
                ><span *ngIf="!isApproved">Approval Comments</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#filesTab"
                role="tab"
                aria-controls="tab-pane3"
                aria-selected="true"
                >Files</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <!-- tab 1-->
            <div
              *ngIf="
                cashAdvanceInformation?.status === 'AwaitingReconciliation' ||
                cashAdvanceInformation?.status === 'Reconciled'
              "
              id="paymentInfoTab"
              class="tab-pane active"
            >
              <div class="row">
                <!-- Grid Item -->
                <div class="col-xl-7">
                  <!-- Card -->
                  <div class="card">
                    <!-- Card Body -->
                    <div class="card-body pb-2">
                      <table
                        class="table mb-0 table-striped"
                        style="font-size: 11px"
                      >
                        <thead class="thead-light">
                          <tr>
                            <th class="text-center" scope="col">Date</th>
                            <th class="text-center" scope="col">Amount</th>
                            <th class="text-center" scope="col">
                              Expense Account
                            </th>
                            <th class="text-center" scope="col">Description</th>
                            <th class="text-center" scope="col">
                              Reconciliator
                            </th>
                            <th>File(s)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let row of cashAdvanceInformation?.reconcialiations
                            "
                          >
                            <td class="text-center">
                              {{ row?.createdAt | date : "dd/MMM/YYYY" }}
                            </td>
                            <td class="amount-field">
                              {{ row?.amount | number : "1.2-2" }}
                            </td>
                            <td class="text-center">{{ row?.name }}</td>
                            <td class="text-center">{{ row?.description }}</td>
                            <td class="text-center">
                              {{ row?.reconciliaitor }}
                            </td>
                            <td>
                              <ng-template #files>
                                <div *ngFor="let file of row?.files">
                                  <p>
                                    {{ file?.originalName }}
                                    <span
                                      [style.color]="
                                        currentTheme?.secondaryColor
                                      "
                                      class="ml-2 cursor"
                                    >
                                      <a [href]="file.filePath" target="_blank"
                                        >view</a
                                      >
                                    </span>
                                  </p>
                                </div>
                              </ng-template>

                              <i
                                *ngIf="row?.files?.length > 0"
                                [ngbPopover]="files"
                                placement="right"
                                popoverTitle="File(s)"
                                [style.color]="currentTheme?.secondaryColor"
                                class="icon icon-files cursor"
                              ></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /card body -->
                  </div>
                  <!-- /card -->
                </div>
                <!-- /grid item -->
              </div>
            </div>

            <div
              id="commentsAndActivitiesTab"
              class="tab-pane"
              [ngClass]="
                cashAdvanceInformation?.status === 'AwaitingReconciliation' ||
                cashAdvanceInformation?.status === 'Reconciled'
                  ? ''
                  : 'active'
              "
            >
              <div class="row">
                <div class="col-xl-8">
                  <!-- Entry Header -->
                  <div class="dt-entry__header">
                    <!-- Entry Heading -->
                    <div class="dt-entry__heading">
                      <h3 class="dt-entry__title">Entries</h3>
                    </div>
                    <!-- /entry heading -->
                  </div>
                  <!-- /entry header -->
                  <!-- Card -->
                  <div class="pb-4 dt-card">
                    <!-- Card Header -->
                    <div class="mb-3 dt-card__header">
                      <!-- Card Heading -->
                      <div class="dt-card__heading">
                        <h3 class="dt-card__title">Comments</h3>
                      </div>
                      <!-- /card heading -->
                    </div>
                    <!-- /card header -->

                    <!-- Card Body -->
                    <div class="p-0 dt-card__body">
                      <div class="table-responsive">
                        <table
                          class="table mb-0 table-striped"
                          style="font-size: 11px"
                        >
                          <thead class="thead-light">
                            <tr>
                              <th class="text-center" scope="col">
                                Treated by
                              </th>
                              <th class="text-center" scope="col">Comment</th>
                              <th scope="col">Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let item of cashAdvanceInformation?.reviewComment
                              "
                            >
                              <td class="text-center code">
                                {{
                                  cashAdvanceInformation?.approvedById
                                    ? cashAdvanceInformation?.approvedById
                                    : cashAdvanceInformation?.treatedBy
                                }}
                              </td>
                              <td class="text-center">
                                {{ item?.comment }}
                              </td>
                              <td>
                                {{
                                  item?.createdAt
                                    | customDatePipe : "DD/MMM/YYYY"
                                }}
                                <i class="icon icon-timepicker ml-3"></i>
                                {{ item?.createdAt | date : "shortTime" }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- /card body -->
                  </div>
                  <!-- /card -->
                </div>
              </div>
            </div>

            <div id="approvalTab" class="tab-pane">
              <div *ngIf="!isApproved" class="row">
                <div class="col-6">
                  <form [formGroup]="CashAdvanceApprovalForm">
                    <div class="row mb-6">
                      <!-- /grid item -->
                      <div class="col-md-8">
                        <label>Comment<b class="help-block">*</b></label>
                        <textarea
                          formControlName="comment"
                          class="form-control"
                          rows="4"
                          cols="10"
                          placeholder="Write comment here."
                        ></textarea>
                        <br />
                        <div class="form-group w-50">
                          <label class="input-group-text"
                            ><small>Enter Transaction Pin</small></label
                          >
                          <br />
                          <input
                            type="password"
                            class="form-control"
                            formControlName="transactionPin"
                            placeholder="************"
                            autocomplete="off"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <button
                            (click)="submitApprovalForm(true, 'Approved')"
                            type="button"
                            class="btn btn-success success-alert"
                            *ngIf="!loader"
                            [disabled]="CashAdvanceApprovalForm.invalid"
                          >
                            Approve
                          </button>
                          <button
                            (click)="submitApprovalForm(true, 'Redraft')"
                            type="button"
                            class="btn btn-warning success-alert ml-3"
                            *ngIf="!loader"
                            [disabled]="CashAdvanceApprovalForm.invalid"
                          >
                            Redraft
                          </button>
                          &nbsp;
                          <button
                            (click)="submitApprovalForm(false, 'Approval')"
                            type="button"
                            class="btn btn-danger success-alert"
                            *ngIf="!loader"
                            [disabled]="CashAdvanceApprovalForm.invalid"
                          >
                            Reject
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-sm"
                            *ngIf="loader"
                            [disabled]="true"
                          >
                            <i class="icon icon-spin icon-spin2"></i>
                            Processing...
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-6">
                  <!-- Tables -->
                  <div class="table-responsive">
                    <table class="table table-striped mb-0">
                      <thead class="thead-light">
                        <tr>
                          <!-- <th class="text-uppercase" scope="col">Status</th> -->
                          <th class="text-uppercase" scope="col">Username</th>
                          <th class="text-uppercase" scope="col">Comment</th>
                          <th class="text-uppercase" scope="col">
                            Date Created
                          </th>
                          <!-- <th class="text-uppercase" scope="col">Approval Status</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let item of cashAdvanceInformation?.comments"
                        >
                          <td>{{ item?.name }}</td>
                          <td>{{ item?.comment }}</td>
                          <td>
                            {{ item?.dateCreated | date : "dd/MMM/YYYY" }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /tables -->
                </div>
              </div>
            </div>

            <div id="filesTab" class="tab-pane">
              <lnd-uploaded-files
                [files]="cashAdvanceInformation?.files"
              ></lnd-uploaded-files>
            </div>
          </div>
          <!-- /tab content -->
        </div>
      </div>
      <!-- /section -->
    </div>
    <!-- /customizer body inner -->
  </div>
</aside>

<div *ngIf="openAside" class="dt-backdrop" (click)="toggleAside()"></div>
<!-- /customizer sidebar -->

<!-- Modals -->

<ng-template #reconciliationLogModal>
  <!-- Modal Header -->
  <div class="modal-header">
    <h3 class="modal-title">Log new reconciliation</h3>
    <button
      type="button"
      class="close"
      (click)="closeModal()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="reconciliationLogForm"
      (ngSubmit)="submitReconciliationLog()"
    >
      <div class="form-group mb-3">
        <label>Expense Account<b class="help-block"> *</b></label>
        <slct-2
          formControlName="expenseAccount"
          [data]="expenseAccount"
          placeholder="Select Expense Account"
        ></slct-2>
        <!-- <account-slct
          *ngIf="accounts.length > 0"
          [data]="accounts"
          (selectedAccount)="selectAccount($event)"
        ></account-slct> -->
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label>Requested Amount</label>
            <input
              readonly
              type="text"
              class="form-control"
              [value]="cashAdvanceInformation.amount"
              currencyMask
              [options]="{ prefix: '', thousands: ',', decimal: '.' }"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label>Remaining Balance</label>
            <input
              readonly
              type="text"
              class="form-control"
              [value]="remainingBalance"
              currencyMask
              [options]="{ prefix: '', thousands: ',', decimal: '.' }"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group mb-3">
            <label>Log Amount <b class="help-block"> *</b></label>
            <input
              type="text"
              class="form-control"
              formControlName="amount"
              currencyMask
              [options]="{ prefix: '', thousands: ',', decimal: '.' }"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label>Transaction Date<b class="help-block"> *</b></label>
            <input
            lndInvalidDateChecker
              type="date"
              class="form-control"
              formControlName="transactionDate"
            />
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>Description<b class="help-block"> *</b></label>
        <textarea
          cols="30"
          rows="10"
          class="form-control"
          formControlName="description"
        ></textarea>
      </div>

      <div class="form-group col-md-12 mb-5">
        <div class="mt-3">
          <span
            *ngFor="
              let file of reconciliationLogViewFiles;
              let fileIndex = index
            "
            class="badge badge-pill badge-outline ml-2 px-4 mb-1"
            >{{ file.name || file.originalName }}
            <i
              class="icon icon-trash ml-2 cursor text-danger"
              (click)="removeFile(fileIndex)"
            ></i>
          </span>
        </div>

        <div class="mb-6">
          <div class="d-flex">
            <small>Attach relevant files </small>
          </div>
          <button
            type="button"
            class="btn btn-xs btn-secondary text-white"
            (click)="files.click()"
          >
            Attach File
          </button>

          <input
            #files
            type="file"
            multiple
            (change)="handleFileInput($event.target.files)"
            style="display: none"
          />
        </div>
      </div>

      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="logAnother"
          id="defaultCheck1"
        />
        <label class="form-check-label" for="defaultCheck1">
          Log another reconciliation
        </label>
      </div>

      <div class="d-flex justify-content-end align-items-center">
        <button
          class="btn btn-secondary text-white btn-sm"
          (click)="closeModal()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-sm btn-claim mx-1"
          [disabled]="reconciliationLogForm.invalid || logging"
        >
          <i class="icon icon-spin icon-spin2" *ngIf="logging"></i>
          {{ logging ? "Processing..." : "Submit" }}
        </button>
      </div>
    </form>
  </div>
</ng-template>
