app-sidebar {
  width: 240px;
}

@media screen and (max-width: 991px) {
  app-sidebar {
    width: auto;
  }
}

.dt-content-wrapper {
  margin-top: 74px;
}

.has-error {
  label {
    color: #f44336;
  }
  .form-control {
    border: 1px solid #f44336;
  }
}

.generate-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 6000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 8px 0;
  margin: 8px 0;
  font-size: 15px;
  color: #545454;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid transparent;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.175);
}

.generate-menu-right {
  right: 150px;
  left: auto;
  top: -50px;
}

.generate-menu {
  width: 500px !important;
}

.generate-menu-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 19px 28px;
}

.generate-menu-header {
  box-shadow: 0 2px 2px 0 rgba(84, 84, 84, 0.05);
}

.generate-menu-header .title {
  font-size: 15px;
  margin-bottom: 0;
}

.generate-menu-body {
  padding: 24px 28px;
}

.generate-menu-footer {
  box-shadow: 0 -2px 2px 0 rgba(84, 84, 84, 0.05);
  justify-content: flex-end;
}

.generate-menu-header,
.generate-menu-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 24px 28px;
}
