<div class="row m-0" *ngIf="!isSingleView; else singleView">
  <header class="w-100 d-flex align-items-center justify-content-between mb-3">
    <h1 class="dt-page__title">Purchase Order</h1>
    <span class="float-right role-add">
      <div style="position: relative; right: -5px; bottom: 5px; float: right">
        <a
          *ngIf="user?.permission?.includes('Create Purchase Order')"
          class="btn btn-primary mr-2 text-white"
          [style.borderColor]="currentTheme?.secondaryColor"
          [style.backgroundColor]="currentTheme?.secondaryColor"
          [routerLink]="['/finance/purchase-orders/create']"
          routerLinkActive="router-link-active"
          href="javascript:void(0)"
        >
          <i class="icon icon-add-circle mr-2"></i>Add New</a
        >
      </div>
    </span>
  </header>
  <div class="col-xl-12">
    <ul
      id="active-div"
      class="card-header-pills nav nav-pill justify-content-center mb-2"
      role="tablist"
    >
      <li class="nav-item">
        <a
          id="nav-open"
          class="nav-link pool-nav active-tab"
          href="javascript:void(0)"
          (click)="switchviews('open', ['Draft', 'ReDraft', 'SentForApproval'])"
        >
          Open
        </a>
      </li>
      <li class="nav-item">
        <a
          id="nav-closed"
          class="nav-link pool-nav"
          href="javascript:void(0)"
          (click)="switchviews('closed', ['Posted', 'Rejected'])"
        >
          Closed
        </a>
      </li>
      <li class="nav-item">
        <a
          id="nav-all"
          class="nav-link pool-nav"
          href="javascript:void(0)"
          (click)="switchviews('all', [])"
        >
          All
        </a>
      </li>
    </ul>
    <div class="dt-card w-100">
      <div class="dt-card__body">
        <div class="row">
          <div class="col-md-4">
            <label style="display: inline-flex"
              ><span style="padding: 8px 2px; font-size: 12px">Show </span
              ><select
                [(ngModel)]="pagination.pageSize"
                aria-controls="data-table"
                (change)="fetchPurchaseOrders()"
                class="custom-select custom-select-xl form-control form-control-xl height"
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <span style="padding: 8px 2px; font-size: 12px"
                >entries</span
              ></label
            >
          </div>

          <div class="col-md-4">
            <div
              *ngIf="tabLoader"
              class="table-loader"
              style="text-align: center"
              [style.color]="currentTheme.secondaryColor"
            >
              <span> <i class="icon icon-spin icon-spin2"></i> Loading...</span>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label style="display: inline-flex; float: right">
              <input
                type="search"
                placeholder="Search..."
                class="form-control form-control-sm"
                placeholder="Code or Name"
                aria-controls="data-table"
                (keydown.enter)="fetchPurchaseOrders({ search: search.value })"
                #search
              />

              <button
                class="btn btn-xs text-white ml-3"
                [style.background]="currentTheme.secondaryColor"
                (click)="fetchPurchaseOrders({ search: search.value })"
              >
                <i class="icon icon-search"></i>
              </button>
            </label>
          </div>
          <div class="col-md-12 mb-3">
            <lnd-selected-filters
              (initialized)="onSelectedFiltersInit($event)"
            ></lnd-selected-filters>
          </div>
          <div
            class="d-flex justify-content-between w-100 align-items-center"
            style="padding: 0 18px"
          >
            <div
              class=""
              aria-live="polite"
              style="font-size: 13px; margin-top: -8px"
            >
              Showing
              {{
                (pagination.pageNumber - 1) * pagination.pageSize + 1
                  | number : "1.0-0"
              }}
              -
              {{
                (pagination.pageNumber - 1) * pagination.pageSize +
                  pagination.count | number : "1.0-0"
              }}
              of {{ pagination.totalCount | number : "1.0-0" }} record(s)
            </div>
            <div>
              <lnd-filter-btn
                (filterModalOpen)="filterModalOpen()"
              ></lnd-filter-btn>
              <lnd-filter
                *ngIf="!tabLoader"
                [filterOptions]="filterStatuses"
                (optionSelected)="fetchPurchaseOrders($event)"
              ></lnd-filter>
            </div>
          </div>
        </div>
        <div class="table-responsive" *ngIf="!tabLoader">
          <table
            id="data-table"
            class="table table-striped"
            *ngIf="allPurchaseOrders.length > 0; else noData"
          >
            <thead>
              <tr>
                <th>Code</th>
                <th>Vendor</th>
                <th>Date</th>
                <th>
                  <span
                    >EDD
                    <i
                      class="icon icon-question-circle icon-fw icon-xl"
                      placement="top"
                      ngbTooltip="Expected delivery date"
                    ></i
                  ></span>
                </th>
                <th class="text-center">Reference</th>
                <th class="text-right">
                  ({{ ownerInformation?.currency?.currencySymbol }}) Total
                  Amount
                </th>
                <th class="text-right">Status</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let item of allPurchaseOrders"
                class="cursor"
                (click)="
                  viewPurchaseOrder(item.purchaseOrderId, dropdownToggle)
                "
              >
                <td
                  class="copy_icon_wrapper"
                  [style.color]="currentTheme?.secondaryColor"
                >
                  {{ item?.purchaseOrderCode }}

                  <img
                    (mouseover)="copy_hover = true"
                    (mouseleave)="copy_hover = false"
                    class="copy_icon"
                    src="assets/images/copy.png"
                    alt="copy icon"
                    width="15"
                    height="15"
                    (click)="copyCode(item?.purchaseOrderCode)"
                    placement="right"
                    ngbTooltip="Copy Purchase Code"
                  />
                </td>
                <td>{{ item?.vendorName | titlecase }}</td>
                <td>{{ item?.date | date : "mediumDate" }}</td>
                <td>{{ item?.expectedDeliveryDate | date : "mediumDate" }}</td>
                <td class="text-center">{{ item?.reference || "-" }}</td>
                <td class="text-right">
                  {{ item?.totalAmount | number : "1.2-2" }}
                </td>
                <td class="text-right">
                  <span
                    *ngIf="item?.status === 'Open'"
                    class="badge badge-pill badge-sm mb-1 mr-1"
                    [ngClass]="
                      item.billedStatus === 'NotBilled'
                        ? 'badge-warning'
                        : 'badge-success'
                    "
                    >{{ item.billedStatus }}</span
                  >

                  <span
                    class="badge btn-xs mb-1 mr-1"
                    [ngClass]="{
                      'badge-warning': item.status === 'Draft',
                      'badge-approval': item.status === 'SentForApproval',
                      'badge-success': item.status === 'Posted',
                      'badge-redraft': item.status === 'ReDraft',
                      'badge-danger': item.status === 'Rejected'
                    }"
                    >{{
                      item.status === "SentForApproval"
                        ? "Awaiting Approval"
                        : item.status
                    }}</span
                  >
                </td>
                <td class="text-center">
                  <div
                    #dropdownToggle
                    class="dropdown mr-2 mb-2 d-inline-block"
                  >
                    <button
                      class="btn btn-warning btn-xs dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    ></button>

                    <div class="dropdown-menu">
                      <a
                        *ngIf="
                          user?.permission?.includes('View Purchase Order')
                        "
                        class="dropdown-item"
                        ><i class="icon icon-forward icon-fw mr-2"></i>View</a
                      >
                      <a
                        class="dropdown-item"
                        (click)="convertToBill(item.purchaseOrderId, transPin)"
                        *ngIf="
                          item?.status === 'Posted' &&
                          item?.billedStatus !== 'Billed'
                        "
                        ><i class="icon icon-refer icon-fw mr-2"></i>Convert To
                        Bill</a
                      >

                      <a
                        *ngIf="
                          item?.billedStatus !== 'Billed' &&
                          (item?.status === 'Draft' ||
                            item?.status === 'ReDraft') &&
                          user?.permission?.includes('Edit Purchase Order')
                        "
                        class="dropdown-item"
                        [routerLink]="
                          '/finance/purchase-orders/edit/' +
                          item?.purchaseOrderId
                        "
                        ><i class="icon icon-edit icon-fw mr-2"></i>Edit</a
                      >

                      <a
                        *ngIf="
                          item?.billedStatus !== 'Billed' &&
                          (item?.status === 'Draft' ||
                            item?.status === 'ReDraft')
                        "
                        class="dropdown-item"
                        (click)="deletePO(item.purchaseOrderId)"
                        ><i class="icon icon-trash text-danger icon-fw mr-2"></i
                        >Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <ng-template #noData>
            <div class="d-flex justify-content-center">
              <div>
                <p class="display-4 text-center font-weight-light mb-0">
                  No Data Available
                </p>
                <img
                  src="assets/images/no data.svg"
                  alt="no-data-svg"
                  width="200px"
                  class="py-5"
                />
              </div>
            </div>
          </ng-template>
        </div>

        <footer>
          <nav>
            <ul class="pagination pagination-sm justify-content-end">
              <li class="page-item" *ngIf="pagination?.hasPreviousPage">
                <a
                  class="page-link"
                  href="javascript:void(0)"
                  tabindex="-1"
                  (click)="
                    pagination.pageNumber = pagination.pageNumber - 1;
                    fetchPurchaseOrders()
                  "
                  >Previous</a
                >
              </li>
              <li class="page-item pagination-menu-wrapper">
                <a
                  class="page-link page-target"
                  href="javascript:void(0)"
                  (click)="itemPaginatedJumpModal()"
                >
                  {{ pagination.pageNumber }} of
                  {{ pagination.totalPages }} page{{
                    pagination.pageNumber > 1 ? "s" : ""
                  }}
                  <span class="sr-only">(current)</span>
                </a>
                <div
                  class="itemPaginatedJumpModal pagination-menu pagination-menu-right"
                >
                  <div class="pagination-menu-body">
                    <div class="h-auto">
                      <span>Jump to Page</span>
                      <select
                        aria-controls="data-table"
                        [(ngModel)]="pagination.pageNumber"
                        (change)="fetchPurchaseOrders()"
                        class="custom-select custom-select-xl form-control form-control-xl height"
                      >
                        <option
                          (click)="pagination.pageNumber = line"
                          *ngFor="let line of pagination?.jumpArray"
                        >
                          {{ line }}
                        </option>
                      </select>
                      <div class="text-center mt-3">
                        <button
                          (click)="itemPaginatedJumpModal()"
                          type="button"
                          class="btn btn-danger btn-xs"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="page-item" *ngIf="pagination?.hasNextPage">
                <a
                  class="page-link"
                  href="javascript:void(0)"
                  (click)="
                    pagination.pageNumber = pagination.pageNumber + 1;
                    fetchPurchaseOrders()
                  "
                >
                  Next
                </a>
              </li>
            </ul>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <lnd-spinner
    *ngIf="loading && !selectedPurchaseOrder"
    text="Retrieving Payment..."
    [color]="currentTheme?.secondaryColor"
  ></lnd-spinner>
</div>
<ng-template #singleView>
  <div *ngIf="selectedPurchaseOrder" class="wrapper single-view">
    <div class="d-flex flex-row">
      <div class="left pr-4">
        <div class="top">
          <header
            class="w-100 d-flex align-items-center justify-content-between mb-3"
          >
            <h1 class="dt-page__title">Purchase Order</h1>
            <span class="float-right role-add">
              <a
                *ngIf="user?.permission?.includes('Create Purchase Order')"
                class="btn btn-primary mr-2 text-white"
                [style.borderColor]="currentTheme?.secondaryColor"
                [style.backgroundColor]="currentTheme?.secondaryColor"
                [routerLink]="['/finance/purchase-orders/create']"
                routerLinkActive="router-link-active"
                href="javascript:void(0)"
              >
                <i class="icon icon-add-circle mr-2"></i>Add New
              </a>
            </span>
          </header>
        </div>
        <div class="body">
          <div class="card">
            <div class="card-body p-0">
              <ul class="bill-list">
                <li
                  *ngFor="let item of allPurchaseOrders"
                  (click)="viewPurchaseOrder(item.purchaseOrderId)"
                  [ngClass]="{
                    selected:
                      selectedPurchaseOrder?.purchaseOrderId ===
                      item?.purchaseOrderId
                  }"
                  [style.border-left]="
                    selectedPurchaseOrder?.purchaseOrderId ===
                    item?.purchaseOrderId
                      ? '5px solid ' + currentTheme.secondaryColor
                      : ''
                  "
                  (mouseover)="item.hover = true"
                  (mouseleave)="
                    selectedPurchaseOrder?.purchaseOrderId !==
                    item?.purchaseOrderId
                      ? (item.hover = false)
                      : null
                  "
                  [ngStyle]="item.hover ? hoverStyle : {}"
                >
                  <span
                    class="d-flex justify-content-between align-items-center title"
                  >
                    <span>{{ item?.vendorName }}</span>
                    <span
                      >{{ ownerInformation?.currency?.currencySymbol
                      }}{{ item?.totalAmount | number : "1.2-2" }}</span
                    >
                  </span>
                  <span
                    class="d-flex justify-content-between align-items-center sub-title mt-2"
                  >
                    <span>
                      {{ item?.purchaseOrderCode }} |
                      {{ item?.date | customDatePipe : "DD-MMM-YY" }}
                    </span>
                    <span>
                      <span
                        class="badge badge-sm"
                        [ngClass]="{
                          'badge-warning':
                            item.status === 'Draft' || item.status === 'Open',
                          'badge-approval': item.status === 'SentForApproval',
                          'badge-success': item.status === 'Posted',
                          'badge-danger': item.status === 'Rejected',
                          'badge-redraft': item.status === 'ReDraft'
                        }"
                        >{{
                          item?.status === "SentForApproval"
                            ? "Awaiting Approval"
                            : item?.status
                        }}</span
                      >
                    </span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="right px-2">
        <div class="top card mb-3">
          <div class="card-body">
            <div class="float-right">
              <button
                *ngIf="
                  selectedPurchaseOrder?.status === 'SentForApproval' &&
                  user?.permission?.includes('Approve Purchase Order')
                "
                class="btn btn-xs btn-review"
                (click)="openModal(approval)"
              >
                Review Request
              </button>
              <button
                class="btn btn-xs btn-primary"
                (click)="printPO(selectedPurchaseOrder?.vendorName)"
              >
                {{ printStatus }}
                <i
                  *ngIf="printStatus === 'Processing'"
                  class="icon icon-spin icon-spin2"
                ></i>
              </button>
              <button
                class="btn btn-xs btn-success"
                *ngIf="
                  selectedPurchaseOrder?.status === 'Posted' &&
                  selectedPurchaseOrder?.billedStatus !== 'Billed'
                "
                (click)="
                  convertToBill(selectedPurchaseOrder.purchaseOrderId, transPin)
                "
              >
                {{ tabLoader ? "Converting..." : "Convert to bill" }}
                <i *ngIf="tabLoader" class="icon icon-spin icon-spin2"></i>
              </button>
              <button
                *ngIf="
                  user?.permission?.includes('Create Purchase Order') &&
                  selectedPurchaseOrder?.status === 'Posted'
                "
                class="btn btn-xs clone-btn"
                (click)="clonePO()"
              >
                Clone
              </button>
              <button
                *ngIf="
                  user?.permission?.includes('Edit Purchase Order') &&
                  selectedPurchaseOrder?.billedStatus !== 'Billed' &&
                  (selectedPurchaseOrder?.status === 'Draft' ||
                    selectedPurchaseOrder?.status === 'ReDraft')
                "
                class="btn btn-xs btn-light"
                [routerLink]="
                  '/finance/purchase-orders/edit/' +
                  selectedPurchaseOrder?.purchaseOrderId
                "
              >
                Edit
              </button>
              <button class="btn btn-xs btn-outline-dark" (click)="closeView()">
                Close
              </button>
            </div>
          </div>
        </div>
        <div
          id="tabs"
          class="d-flex justify-content-between align-items-center py-2"
          style="padding-left: 30px"
        >
          <ul
            id="active-div"
            class="card-header-pills nav nav-pill justify-content-center align-items-center"
            role="tablist"
          >
            <li class="nav-item">
              <a
                id="nav-overview"
                class="nav-link pool-nav active-tab"
                data-toggle="tab"
                href="#tab-overview"
                role="tab"
                aria-controls="tab-overview"
                aria-selected="false"
                (click)="switchTabs('overview')"
                >Overview</a
              >
            </li>

            <li class="nav-item">
              <a
                id="nav-comments"
                class="nav-link pool-nav"
                data-toggle="tab"
                href="#tab-comments"
                role="tab"
                aria-controls="tab-comments"
                aria-selected="false"
                (click)="switchTabs('comments')"
                >Comments</a
              >
            </li>

            <li class="nav-item">
              <a
                id="nav-activity"
                class="nav-link pool-nav"
                data-toggle="tab"
                href="#tab-activity"
                role="tab"
                aria-controls="tab-activity"
                aria-selected="false"
                (click)="switchTabs('activity')"
                >Activity Logs</a
              >
            </li>

            <li class="nav-item">
              <a
                id="nav-files"
                class="nav-link pool-nav"
                data-toggle="tab"
                href="#tab-files"
                role="tab"
                aria-controls="tab-files"
                aria-selected="false"
                (click)="switchTabs('files')"
                >Files</a
              >
            </li>
          </ul>
        </div>

        <div class="tab-content">
          <div id="tab-overview" class="tab-pane active show">
            <div class="paper p-5" #POPaper>
              <div class="card">
                <lnd-ribbon
                  [status]="selectedPurchaseOrder?.status"
                ></lnd-ribbon>
                <div class="card-body">
                  <div class="content">
                    <div class="d-flex justify-content-between mb-5">
                      <span>
                        <div class="img-container mb-2">
                          <img
                            class="mx-auto img-fluid d-block"
                            [src]="businessLogo"
                          />
                        </div>
                        <p class="h3 mb-1">{{ appOwner?.appOwnerName }}</p>
                        <p class="mb-1">{{ appOwner?.appOwnerEmail }}</p>
                        <p class="mb-1">
                          {{ appOwner?.appOwnerBillingAddress }}
                        </p>
                      </span>
                      <span class="text-right">
                        <h3 class="display-1">Purchase Order</h3>
                        <p>
                          Purchase Order #
                          {{ selectedPurchaseOrder?.purchaseOrderCode }}
                        </p>

                        <br />
                        <br />
                        <p class="mb-1">Balance Due</p>
                        <p class="display-3">
                          {{ ownerInformation?.currency?.currencySymbol
                          }}{{
                            selectedPurchaseOrder?.totalAmount
                              | number : "1.2-2"
                          }}
                        </p>
                      </span>
                    </div>
                    <div class="d-flex justify-content-between mt-3 mb-3">
                      <span>
                        <p class="mb-1">Purchase Order From</p>
                        <p class="mb-3 text-primary">
                          {{ selectedPurchaseOrder?.vendorName }}
                        </p>
                        <p class="mb-1">Terms</p>
                        <p class="mb-1">
                          {{ selectedPurchaseOrder?.paymentTermName }}
                        </p>
                      </span>
                      <span>
                        <table class="table table-borderless">
                          <tbody>
                            <tr>
                              <td>Purchase Order Date:</td>
                              <td>
                                {{
                                  selectedPurchaseOrder?.date
                                    | customDatePipe : "DD-MMM-YYYY"
                                }}
                              </td>
                            </tr>
                            <tr>
                              <td>Due Date:</td>
                              <td>
                                {{
                                  selectedPurchaseOrder?.expectedDeliveryDate
                                    | customDatePipe : "DD-MMM-YYYY"
                                }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </span>
                    </div>
                    <div
                      class="line"
                      *ngIf="selectedPurchaseOrder?.lines?.length > 0"
                    >
                      <table class="table items-table">
                        <thead [style.background]="currentTheme.primaryColor">
                          <tr>
                            <th>#</th>
                            <th>Item Code</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th
                              *ngIf="
                                selectedPurchaseOrder.discountLevel ===
                                'LineItemLevel'
                              "
                            >
                              Discount(%)
                            </th>
                            <th class="text-right">
                              Rate ({{
                                ownerInformation?.currency?.currencySymbol
                              }})
                            </th>
                            <th class="text-right">
                              Amount ({{
                                ownerInformation?.currency?.currencySymbol
                              }})
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let item of selectedPurchaseOrder?.lines;
                              let i = index
                            "
                          >
                            <td>{{ i + 1 }}</td>
                            <td [style.color]="currentTheme?.secondaryColor">
                              {{ item?.itemCode }}
                            </td>
                            <td class="w-50">{{ item?.itemName }}</td>
                            <td>{{ item.quantity }}</td>
                            <td *ngIf="item.discountValueOnType">
                              {{ discountValueOnType }}
                            </td>
                            <td class="text-right">
                              {{ item.unitPrice | number : "1.2-2" }}
                            </td>
                            <td class="text-right">
                              {{ item.amountAfterTax | number : "1.2-2" }}
                            </td>
                          </tr>
                          <tr>
                            <td colspan="6"></td>
                          </tr>
                          <tr>
                            <td colspan="3"></td>
                            <td colspan="2">Sub total</td>
                            <td class="text-right">
                              {{ ownerInformation?.currency?.currencySymbol
                              }}{{
                                selectedPurchaseOrder?.subtotal
                                  | number : "1.2-2"
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3"></td>
                            <td colspan="2">Tax</td>
                            <td class="text-right">
                              {{ ownerInformation?.currency?.currencySymbol
                              }}{{
                                selectedPurchaseOrder?.totalTaxAmount
                                  | number : "1.2-2"
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3"></td>
                            <td colspan="2">Discount</td>
                            <td class="text-danger text-right">
                              {{ ownerInformation?.currency?.currencySymbol
                              }}{{
                                selectedPurchaseOrder?.discountAmount
                                  | number : "1.2-2"
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3"></td>
                            <td colspan="2">Balance Due</td>
                            <td class="text-right">
                              {{ ownerInformation?.currency?.currencySymbol
                              }}{{
                                selectedPurchaseOrder?.totalAmount
                                  | number : "1.2-2"
                              }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-comments" class="tab-pane">
            <div class="p-5">
              <div class="card">
                <table
                  *ngIf="selectedPurchaseOrder?.comments.length > 0"
                  class="table table-striped mb-0"
                >
                  <thead class="thead-light">
                    <tr>
                      <th class="text-uppercase" scope="col">Username</th>
                      <th class="text-uppercase" scope="col">Comment</th>
                      <th class="text-uppercase" scope="col">Date Created</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of selectedPurchaseOrder?.comments">
                      <td *ngIf="item?.comment">{{ item?.name }}</td>
                      <td *ngIf="item?.comment">{{ item?.comment }}</td>
                      <td *ngIf="item?.comment">
                        {{ item?.dateCreated | customDatePipe }}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <no-data
                  *ngIf="selectedPurchaseOrder?.comments.length === 0"
                  [currentTheme]="currentTheme"
                  [title]="'No Comments'"
                ></no-data>
              </div>
            </div>
          </div>

          <div id="tab-activity" class="tab-pane">
            <div class="p-5">
              <div class="card">
                <table
                  *ngIf="activityLogs.length > 0"
                  class="table mb-0 table-striped"
                >
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Activity</th>
                      <th scope="col">Description</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of activityLogs">
                      <td [style.color]="currentTheme?.secondaryColor">
                        {{ row?.relatedObjectInitiatorCode }}
                      </td>
                      <td>{{ row?.activityDescription }}</td>
                      <td>
                        {{ row?.activityDate | customDatePipe }}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div
                  *ngIf="activityLogs.length === 0"
                  class="d-flex flex-column align-items-center w-100 py-3"
                >
                  <p class="display-4 text-center font-weight-light mb-0">
                    No Activities Available
                  </p>
                  <img
                    src="assets/images/no data.svg"
                    alt="no-data-svg"
                    width="200px"
                    class="py-5"
                  />
                </div>
              </div>
            </div>
          </div>

          <div id="tab-files" class="tab-pane">
            <lnd-uploaded-files
              [files]="selectedPurchaseOrder.files"
            ></lnd-uploaded-files>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #approval>
  <lnd-trans-pin-modal
    [comments]="selectedPurchaseOrder?.comments"
    [isLoading]="loading"
    feature="purchase order"
    [canApprove]="user?.permission?.includes('Approve Purchase Order')"
    (sendPayload)="submit($event)"
  ></lnd-trans-pin-modal>
</ng-template>

<ng-template #transPin>
  <lnd-trans-pin-modal
    [isLoading]="tabLoader"
    [canApprove]="user?.permission?.includes('Approve Purchase Order')"
    (sendPayload)="callconvertToBillEndpoint($event)"
    [btnValue]="'Convert To Bill'"
  ></lnd-trans-pin-modal>
</ng-template>
